# Core
torch>=2.2.0
torchvision>=0.17.0
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.3.0
albumentations>=1.3.0
opencv-python>=4.8.0
matplotlib>=3.8.0
seaborn>=0.13.0
Pillow>=10.0.0

# Models
timm>=1.0.9

# Logging & viz
tensorboard>=2.14.0

# Grad-CAM
grad-cam>=1.5.0

# Utilities
pyyaml>=6.0.0
rich>=13.6.0
flask>=3.0.0
werkzeug>=3.0.0
tensorflow>=2.15.0
onnxruntime>=1.19.0

